absl-py==0.9.0
aiofiles==0.4.0
aiohttp==3.6.2
altair==4.0.1
APScheduler==3.6.3
argh==0.26.2
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
base58==2.0.0
beautifulsoup4==4.8.1
bleach==3.1.1
blinker==1.4
blis==0.4.1
bokeh==2.0.0
boto==2.49.0
boto3==1.12.22
botocore==1.15.22
bs4==0.0.1
bz2file==0.98
cachetools==4.0.0
catalogue==1.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.1.1
cloudpickle==1.2.0
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
ConfigArgParse==0.15.2
constantly==15.1.0
contextvars==2.4
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
DataProperty==0.48.2
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.0.7
dill==0.3.1.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
dopamine-rl==2.0.5
en-core-web-lg==2.2.5
en-core-web-sm==2.2.5
entrypoints==0.3
enum-compat==0.0.3
fasttext==0.9.1
fbmessenger==6.0.0
filelock==3.0.12
Flask==1.1.1
funcy==1.14
future==0.17.1
gast==0.2.2
gensim==3.8.1
gevent==1.4.0
gin-config==0.2.1
google-api-core==1.16.0
google-api-python-client==1.7.11
google-auth==1.11.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.26.0
google-pasta==0.1.8
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
greenlet==0.4.15
grip==4.5.2
grpcio==1.25.0
gunicorn==20.0.4
gym==0.15.4
h11==0.8.1
h2==3.1.1
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.4.28
httpcore==0.3.0
httplib2==0.14.0
httptools==0.0.13
httpx==0.9.3
humanfriendly==4.18
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.9
idna-ssl==1.1.0
immutables==0.12
importlib-metadata==1.5.0
incremental==17.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
jsonpickle==1.4.1
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-core==4.6.3
kafka-python==1.4.7
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kfac==0.2.0
kiwisolver==1.1.0
klein==17.10.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mattermostwrapper==2.2
mbstrdecoder==1.0.0
mdrec==0.1.1
mesh-tensorflow==0.1.7
mistune==0.8.4
mitie==0.7.36
modAL==0.3.5
more-itertools==8.2.0
mpmath==1.1.0
msgfy==0.1.0
multidict==4.6.1
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
nltk==3.4.5
notebook==6.0.3
num2words==0.5.10
numexpr==2.7.1
numpy==1.18.1
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.1.2.30
opt-einsum==3.1.0
packaging==19.0
pandas==1.0.2
pandocfilters==1.4.2
parso==0.6.2
path-and-address==2.0.1
pathtools==0.1.2
pathvalidate==2.2.2
pexpect==4.8.0
pickleshare==0.7.5
pika==1.1.0
Pillow==7.0.0
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.7.1
promise==2.2.1
prompt-toolkit==2.0.10
protobuf==3.11.3
psycopg2-binary==2.8.5
ptyprocess==0.6.0
py==1.8.1
pyaml==19.12.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.4.3
pycparser==2.19
pydeck==0.2.1
pydot==1.4.1
pyglet==1.3.2
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pykwalify==1.7.0
pyLDAvis==2.1.2
pymongo==3.8.0
pyparsing==2.4.6
pypng==0.0.20
pyrsistent==0.15.7
PySocks==1.7.1
pytablewriter==0.51.0
pytest==5.4.1
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-engineio==3.11.1
python-socketio==4.4.0
python-telegram-bot==11.1.0
pytz==2019.3
PyYAML==5.3
pyzmq==19.0.0
questionary==1.5.2
rasa==1.10.0
rasa-nlu==0.15.0
rasa-sdk==1.10.0
redis==3.5.0
regex==2020.4.4
requests==2.23.0
requests-async==0.5.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.3.2
rocketchat-API==0.6.36
rsa==4.0
ruamel.yaml==0.16.0
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
sacremoses==0.0.41
sanic==19.12.2
Sanic-Cors==0.10.0.post3
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.9.2
scikit-learn==0.22
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.86
simplejson==3.17.0
six==1.14.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==2.5.0
smart-open==1.10.0
sniffio==1.1.0
snips-nlu==0.20.2
snips-nlu-en==0.2.3
snips-nlu-metrics==0.14.6
snips-nlu-parsers==0.4.3
snips-nlu-utils==0.9.1
soupsieve==1.9.5
spacy==2.2.4
SQLAlchemy==1.3.12
srsly==1.0.2
stanfordnlp==0.2.0
stanza==1.0.0
streamlit==0.56.0
sympy==1.5
tabledata==1.1.2
tabulate==0.8.6
tensor2tensor==1.14.1
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-addons==0.7.1
tensorflow-datasets==1.3.2
tensorflow-estimator==2.1.0
tensorflow-gan==2.0.0
tensorflow-gpu==2.1.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.15.1
tensorflow-probability==0.7.0
tensorflow-text==2.1.1
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
thinc==7.4.0
tokenizers==0.0.11
toml==0.10.0
toolz==0.10.0
torch==1.3.1
tornado==5.1.1
tqdm==4.38.0
traitlets==4.3.3
transformers==2.4.1
twilio==6.26.3
Twisted==20.3.0
typepy==1.1.0
typing==3.7.4.1
typing-extensions==3.7.4.1
tzlocal==2.0.0
ujson==1.35
uritemplate==3.0.0
urllib3==1.26.5
uvloop==0.14.0
validators==0.14.2
wasabi==0.6.0
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
webexteamssdk==1.2
websocket-client==0.54.0
websockets==8.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wordcloud==1.6.0
wrapt==1.11.2
xx-ent-wiki-sm==2.2.0
yarl==1.4.2
zipp==3.1.0
zope.interface==5.1.0
